@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,500;0,800;1,600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
:root {
	--white: #eee;
	--black: #222;
}
body {
	font-family: Roboto;
}
img {
	width: 100%;
	height: auto;
}

.wrapper {
	transition: background 1s;
}

.title {
	position: absolute;
	padding: 10px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	letter-spacing: 2px;
}
a {
	color: inherit;
}
.j-center {
	justify-self: center;
}
.j-end {
	justify-self: end;
}
